<% include partials/header%>
<div class="container"style="margin-top:50px;">
    <h1 style="text-align:center;">LOGIN HERE</h1>
    <div style="width:30%; margin:0 auto;">
<form method="POST" action="/login">
    <div class="form-group">
    <input class="form-control" type="text" name="username" placeholder="Name">
    </div>
    <div class="form-group">
    <input class="form-control" type="password" name="password" placeholder ="password">
    </div>
     <input type="submit" >
    </div>
    
</form>

<%include partials/footer%>